workflow.json
{
  "name": "Lead analityk",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        32,
        0
      ],
      "id": "fdbb5126-329c-4360-8aa8-7e7c8b06450b",
      "name": "Webhook",
      "webhookId": "4557488b-2259-4bcc-8678-8df528c93720"
    },
    {
      "parameters": {
        "jsCode": "// Pobieramy dane z webhooka\nconst body = $input.item.json.body;\nconst email = body.email || \"\";\nconst phoneRaw = body.imie || \"\"; // Czasem telefon wpada w różne pola, załóżmy że tu mamy telefon lub dodaj pole telefon w webhooku\nconst phoneInput = body.telefon || \"\"; // Jeśli masz pole 'telefon' w webhooku\n\n// 1. CZYSZCZENIE TELEFONU\n// Usuwamy wszystko co nie jest cyfrą (spacje, myślniki, +48)\nlet cleanPhone = phoneInput.replace(/\\D/g, '');\n// Jeśli ma 11 cyfr (48xxxxxxxxx), utnij 48\nif (cleanPhone.length === 11 && cleanPhone.startsWith('48')) {\n  cleanPhone = cleanPhone.substring(2);\n}\nconst isPhoneValid = cleanPhone.length === 9;\n\n// 2. ANALIZA EMAILA\nconst freeDomains = ['gmail.com', 'wp.pl', 'onet.pl', 'interia.pl', 'o2.pl', 'tlen.pl', 'outlook.com', 'yahoo.com', 'icloud.com', 'hotmail.com'];\nconst emailParts = email.split('@');\nlet domain = \"\";\nlet isFreeEmail = false;\nlet isEmailValid = false;\n\nif (emailParts.length === 2) {\n  domain = emailParts[1].toLowerCase();\n  isFreeEmail = freeDomains.includes(domain);\n  isEmailValid = true;\n}\n\n// 3. WSTĘPNY SCORING TECHNICZNY\nlet techScore = 0;\nif (isPhoneValid) techScore += 15;\nif (isEmailValid) {\n  if (isFreeEmail) {\n    techScore += 5;\n  } else {\n    techScore += 35; // Bonus za domenę firmową\n  }\n}\n\nreturn {\n  json: {\n    ...body,\n    cleanPhone: cleanPhone,\n    domain: domain,\n    isFreeEmail: isFreeEmail,\n    techScore: techScore,\n    isPhoneValid: isPhoneValid\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "b1690fca-5b54-4eca-8137-692948e46d7d",
      "name": "Wstępna ocena"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Jesteś ekspertem oceny leadów B2B. Analizujesz wiadomość. \\nZadania:\\n1. Ocena intencji (HOT/WARM/COLD).\\n2. Przyznaj punkty za treść (0-50). Jeśli klient pisze 'pilne', 'oferta', 'kupię' -> daj 40-50. Jeśli pyta ogólnie -> 20-30. Jeśli spam -> 0.\\n3. Zgadnij branżę na podstawie treści lub domeny (np. 'Software House', 'E-commerce').\\n\\nOdpowiedz JSON: {\\\"punkty_ai\\\": 0, \\\"intencja\\\": \\\"...\\\", \\\"branza\\\": \\\"...\\\", \\\"podsumowanie\\\": \\\"...\\\"}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Wiadomość: {{ $json.wiadomosc }}\\nDomena emaila: {{ $json.domain }}\"\n    }\n  ],\n  \"response_format\": { \"type\": \"json_object\" }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        384,
        0
      ],
      "id": "63317dd6-6383-4584-9661-55946f935472",
      "name": "Zapytanie do AI",
      "credentials": {
        "httpHeaderAuth": {
          "id": "cDrGDCvIrragy4Gj",
          "name": "Groq Header Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. POBIERANIE DANYCH Z POPRZEDNICH KROKÓW\n\n// UWAGA: Sprawdź nazwy swoich węzłów!\n// Zakładam, że pierwszy węzeł Code nazywa się \"Code\" (lub \"Wstępna ocena\")\n// A węzeł z Groq nazywa się \"HTTP Request\" (lub \"Zapytanie do AI\")\n\n// Pobieramy dane techniczne (z pierwszego węzła Code)\n// Jeśli Twój pierwszy węzeł nazywa się inaczej, zmień 'Code' na jego nazwę w cudzysłowie!\nconst techData = $('Wstępna ocena').first().json; \n\n// Pobieramy dane z AI\n// Musimy \"rozpakować\" JSONa, który przyszedł w treści wiadomości\nconst aiResponseString = $('Zapytanie do AI').first().json.choices[0].message.content;\nconst aiData = JSON.parse(aiResponseString);\n\n// 2. MATEMATYKA (SUMOWANIE)\nconst finalScore = techData.techScore + aiData.punkty_ai;\n\n// 3. LOGIKA BIZNESOWA (ETYKIETOWANIE)\nlet label = \"❄️ COLD LEAD\"; // Domyślnie zimny\nlet slackColor = \"#36a64f\"; // Zielony (neutralny)\n\nif (finalScore >= 60) {\n    label = \"🔥 HOT LEAD\";\n    slackColor = \"#ff0000\"; // Czerwony (alarm!)\n} else if (finalScore >= 30) {\n    label = \"🌤️ WARM LEAD\";\n    slackColor = \"#ffa500\"; // Pomarańczowy\n}\n\n// 4. PRZYGOTOWANIE PACZKI DO EXCELA I CRMA\nreturn {\n  json: {\n    // Dane kontaktowe\n    email: techData.email,\n    imie: techData.imie,\n    telefon: techData.cleanPhone, // Ten wyczyszczony\n    firma: techData.domain,\n    \n    // Analityka\n    branza: aiData.branza,\n    intencja: aiData.intencja,\n    podsumowanie: aiData.podsumowanie,\n    \n    // Wyniki\n    punkty_tech: techData.techScore,\n    punkty_ai: aiData.punkty_ai,\n    TOTAL_SCORE: finalScore,\n    STATUS: label,\n    kolor_slacka: slackColor // Przyda się później do ładnego Slacka\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        0
      ],
      "id": "73c7679a-83ff-4881-83cd-48dcf1a78ec5",
      "name": "Podsumowanie"
    },
    {
      "parameters": {
        "authentication": "appToken",
        "email": "={{ $('Webhook').item.json.body.email }}",
        "additionalFields": {
          "firstName": "={{ $('Webhook').item.json.body.imie }}",
          "jobTitle": "={{ $json.STATUS }} | {{ $json.branza }}",
          "phoneNumber": "={{ $json.telefon }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        736,
        0
      ],
      "id": "f820f197-d19b-4a2f-96d2-b79c8980c76c",
      "name": "Wpis do hubspota",
      "credentials": {
        "hubspotAppToken": {
          "id": "4VryVQqptufjc8DG",
          "name": "HubSpot App Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1mlqvveUDBsGBHdp6JcNvQIFL-0SkoCuD52JFp2EPffg",
          "mode": "list",
          "cachedResultName": "n8n_lead",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mlqvveUDBsGBHdp6JcNvQIFL-0SkoCuD52JFp2EPffg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Newsy",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mlqvveUDBsGBHdp6JcNvQIFL-0SkoCuD52JFp2EPffg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Imię": "={{ $('Webhook').item.json.body.imie }}",
            "Data": "={{ $now.format('yyyy-MM-dd HH:mm') }}",
            "Email": "={{ $('Webhook').item.json.body.email }}",
            "Oryginalna wiadomość": "={{ $('Webhook').item.json.body.wiadomosc }}",
            "Podsumowanie": "={{ $('Podsumowanie').item.json.podsumowanie }}",
            "Score": "={{ $('Podsumowanie').item.json.TOTAL_SCORE }}",
            "Status": "={{ $('Podsumowanie').item.json.STATUS }}",
            "Branża": "={{ $('Podsumowanie').item.json.branza }}",
            "Numer telefonu": "={{ $('Podsumowanie').item.json.telefon }}"
          },
          "matchingColumns": [
            "Data"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Imię",
              "displayName": "Imię",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Numer telefonu",
              "displayName": "Numer telefonu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Branża",
              "displayName": "Branża",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Podsumowanie",
              "displayName": "Podsumowanie",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Oryginalna wiadomość",
              "displayName": "Oryginalna wiadomość",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        912,
        0
      ],
      "id": "55eef3eb-4c0f-4c02-8f35-82bff0dc4f7b",
      "name": "Wpis do Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nUxmEZFNpugyHvQ8",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Wstępna ocena",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wstępna ocena": {
      "main": [
        [
          {
            "node": "Zapytanie do AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zapytanie do AI": {
      "main": [
        [
          {
            "node": "Podsumowanie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Podsumowanie": {
      "main": [
        [
          {
            "node": "Wpis do hubspota",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wpis do hubspota": {
      "main": [
        [
          {
            "node": "Wpis do Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "caa384b6-e707-4f38-832e-099257041002",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "98f30b89320a08a4efe93f15d174d8ad92bbe68346247cd6773110277d836e58"
  },
  "id": "lm1HybuCZBExHy7l",
  "tags": []
}